@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    text-align: center;
}

#group,#successful{
    background-color:#EEF7FF;
    margin:3em;
    width:25%;
    border-radius: 0.5em;
    display:inline-block;
    font-size: 1.2em;
    color:#FFC94A;
    
}

